# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Environment Variables
.env

# Logs
logs/
*.log

# Data
data/

# Database
migrations/models/

# Uploaded images (keep directory structure)
static/uploads/*
!static/uploads/.gitkeep
